body {
  /*padding: 50px;*/

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  width: 100%;
  background: url(../images/bg01.png) #c0e4ed fixed repeat-x center bottom;
  text-align: center;
}
/**login*/
.form {
  background-color: #fff;
  background-color: #C1D9FF;
  padding: 4px;
  border: 1px solid #456692;
  width: 350px;
  margin: 0 auto;
  margin-top: 200px;
  text-align: left;
  border-radius: 5px;
}
.form .modal-dialog-title {
  background-color: #E0EDFE;
  position: relative;
  padding: 8px 15px 8px 8px;
  border-bottom: 1px solid #ccc;
}
.form .modal-dialog-title h3 {
  font-weight: normal;
  font-size: 16px;
}
.form .modal-dialog-content,
.form .modal-dialog-buttons {
  background-color: #fff;
}
.form .modal-dialog-content {
  padding-top: 10px;
}
.form .modal-dialog-content p {
  padding: 5px 0 5px 15px;
}
.form .modal-dialog-buttons {
  padding-bottom: 20px;
}
.form p {
  margin-top: 10px;
}
input:focus {
  outline: none;
}
.form label {
  width: 70px;
  display: inline-block;
  text-align: right;
  font-size: 14px;
  padding-right: 5px;
}
.form i {
  color: #f00;
  font-weight: normal;
  font-size: 14px;
  margin-left: 2px;
}
.form .ipt {
  height: 28px;
  line-height: 25px;
  padding: 0 5px;
  border-top: 2px solid #abadb3;
  border-left: 2px solid #abadb3;
  border-right: 1px solid #dbdfe6;
  border-bottom: 1px solid #dbdfe6;
  vertical-align: middle;
  background-color: #fff;
}
.form .s_btn {
  margin-left: 90px;
  margin-top: 20px;
  vertical-align: middle;
}
.form .modal-dialog-buttons span {
  margin-top: 23px;
  margin-left: 5px;
  zoom: 1;
  display: none;
}
.re_login {
  color: #999;
  font-size: 12px;
  position: absolute;
  right: 40px;
  top: 10px;
}
.re_login:hover {
  color: #000;
}
.tip_normal {
  background-color: #68af02;
  position: absolute;
  padding: 5px 10px 4px;
  color: #fff;
  font-size: 14px;
  vertical-align: middel;
  right: 10px;
  top: 5px;
}
.tip_error {
  background-color: #ef8f00;
  position: absolute;
  padding: 5px 10px 4px;
  color: #fff;
  font-size: 14px;
  right: 10px;
  top: 5px;
}
#wrapper {
  width: 1000px;
  background: #fff;
  border: 1px solid #A9AEC2;
  padding: 1px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 450px;
  _height: 450px;
  _overflow: visible;
}
#header {
  height: 30px;
  line-height: 30px;
  background-color: #E9EAEF;
  padding: 5px 20px;
}
#header div {
  float: left;
}
#header a {
  color: #0062B4;
  float: right;
}
#header a:hover {
  color: #b00;
}
#main_wrap {
  clear: both;
}
table {
  border-collapse: collapse;
  color: #000;
  border: 1px solid #E1E1E1;
}
caption {
  text-align: left;
  padding-bottom: 5px;
}
th,
td {
  border: 1px solid #E1E1E1;
  text-align: center;
  line-height: 2;
  padding: 0.3em 1em;
}
th {
  background-color: #FDFADF;
  font-weight: normal;
}
tbody tr {
  background-color: #f3faff;
}
.odd {
  background-color: #fafafa;
}
td {
  cursor: text;
}
.left td {
  text-align: left;
}
/*下拉菜单*/
.pop_menu {
  position: absolute;
  background-color: #fff;
  font-size: 12px;
  z-index: 3333;
  overflow: hidden;
  display: block;
  color: #363636;
}
.pop_menu .menu_bd {
  background-color: #d9d9d9;
  padding: 0 2px 2px 0;
}
.pop_menu .menu_item_list {
  width: 100px;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 4px 0;
  border: 1px solid #c8cfda;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pop_menu .menu_item,
.pop_menu .menu_item_separator,
.pop_menu .menu_item_high {
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
  overflow: hidden;
  cursor: pointer;
  display: block;
}
.pop_menu .menu_item_separator {
  cursor: default;
  height: 10px;
  line-height: 10px;
}
.pop_menu .menu_item_separator div {
  height: 1px;
  margin: 5px auto auto;
  background-color: #ccc;
  overflow: hidden;
}
.pop_menu .menu_item_high {
  background-color: #3460cc;
  color: #fff;
}
.main_title {
  margin: 10px 20px 0;
  background-color: #FDF1E2;
  padding: 8px;
  overflow: hidden;
  zoom: 1;
  border: 1px solid #ccc;
  color: #666;
}
.main_title :after {
  content: ".";
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  display: block;
  visibility: visible;
}
.main_title dt {
  float: left;
}
dl span {
  padding-right: 25px;
  float: left;
}
.main_title dd {
  text-align: left;
  padding-left: 80px;
}
.right {
  float: right;
  padding: 0;
  margin: 0;
}
.btn {
  background-color: #c55a4c;
  border: 1px solid #d14836;
  border-radius: 2px;
  /*background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);*/
  cursor: pointer;
  outline: none;
  padding: 6px 8px;
  _padding-top: 7px;
  _padding-bottom: 4px;
  color: #fff;
  overflow: hidden;
  line-height: 1;
  width: 70px;
}
.btn_h {
  border-color: #3079ED;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  color: #fff;
}
.redBtn {
  background-color: #D14836;
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
  border: 1px solid transparent;
  width: 80px;
  height: 27px;
  /*#DD4B39*/
}
.s_btn {
  width: 70px;
  height: 32px;
  font-size: 14px;
  background: #dddddd url(../images/s_btn_bg.png);
  cursor: pointer;
  padding: 0;
  border: 0;
}
.s_btn_h {
  background-position: -100px 0;
}
.red_btn {
  background-color: #D14836;
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
  border: 1px solid transparent;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 8px;
}
.color_1 {
  color: #68AF02;
}
.color_2 {
  color: #c00;
}
a.btn_blue,
a.btn_red,
a.btn_gray {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 12px;
  margin: 0;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
}
a.btn_blue:hover,
a.btn_red:hover,
a.btn_gray:hover {
  text-decoration: none;
}
a.btn_blue:focus,
a.btn_red:focus,
a.btn_gray:focus {
  border-color: #93d4fc;
  box-shadow: 0 0 5px #60caff;
}
a.btn_blue:active,
a.btn_red:active,
a.btn_gray:active {
  outline: none;
}
a.btn_blue {
  border: 1px solid #0d659b;
  color: #fff;
  color: #fff!important;
  background-color: #238aca;
  background: -moz-linear-gradient(top, #238aca, #0074bc);
  background: -webkit-linear-gradient(top, #238aca, #0074bc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#238aca', endColorstr='#0074bc');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#238aca', endColorstr='#0074bc')";
}
a.btn_blue:hover {
  text-decoration: none;
  background-color: #238aca;
  background: -moz-linear-gradient(top, #2a96d8, #0169a9);
  background: -webkit-linear-gradient(top, #2a96d8, #0169a9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a96d8', endColorstr='#0169a9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a96d8', endColorstr='#0169a9')";
}
a.btn_blue:active {
  background-color: #238aca;
  background: -moz-linear-gradient(top, #0074bc, #238aca);
  background: -webkit-linear-gradient(top, #0074bc, #238aca);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0074bc', endColorstr='#238aca');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0074bc', endColorstr='#238aca')";
}
a.btn_red {
  border: 1px solid #a22626;
  color: #fff;
  color: #fff!important;
  background-color: #e54a56;
  background: -moz-linear-gradient(top, #f5505f, #d3454b);
  background: -webkit-linear-gradient(top, #f5505f, #d3454b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5505f', endColorstr='#d3454b');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5505f', endColorstr='#d3454b')";
}
a.btn_red:hover {
  text-decoration: none;
  background-color: #f1505b;
  background: -moz-linear-gradient(top, #ff6574, #e13841);
  background: -webkit-linear-gradient(top, #ff6574, #e13841);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6574', endColorstr='#e13841');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6574', endColorstr='#e13841')";
}
a.btn_red:active {
  background-color: #e33c44;
  background: -moz-linear-gradient(top, #e13841, #ff6574);
  background: -webkit-linear-gradient(top, #e13841, #ff6574);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e13841', endColorstr='#ff6574');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e13841', endColorstr='#ff6574')";
}
a.btn_gray {
  border: 1px solid #BEBEBE;
  color: #494949;
  color: #494949!important;
  background-color: #fff;
  background: -moz-linear-gradient(top, #ffffff, #f0efef);
  background: -webkit-linear-gradient(top, #ffffff, #f0efef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0efef');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0efef')";
}
a.btn_gray:hover {
  text-decoration: none;
  background: -moz-linear-gradient(top, #fefefe, #d8d7d7);
  background: -webkit-linear-gradient(top, #fefefe, #d8d7d7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d8d7d7');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d8d7d7')";
}
a.btn_gray:active {
  background: -moz-linear-gradient(top, #d4d3d3, #f9f8f8);
  background: -webkit-linear-gradient(top, #d4d3d3, #f9f8f8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d3d3', endColorstr='#f9f8f8');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d3d3', endColorstr='#f9f8f8')";
}
.userList {
  position: relative;
  top: 10px;
  left: 50px;
  font-size: 12px;
  color: #333;
}
.userList:hover {
  color: #c00;
}
.w_100 {
  width: 100px;
}
.w_160 {
  width: 160px;
}
.w_250 {
  width: 250px;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #999;
  -webkit-border-radius: 4px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
}
